* , *::before , *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 html {
  overflow-y:scroll;
 }

#root {
  --base-image: url(../images/base-img.jpg);
  --background-base: rgb(221, 231, 200);
  --background-column: linear-gradient(to right bottom, rgba(249,211,142, .5), rgba(230,207,133, .1));
  --background-outdent: rgba(0, 255, 255, .6);
  --post-section: rgba(0, 255, 255, .6);
  --navbar-img:  linear-gradient(to right bottom, rgba(0, 150, 255, .7), rgba(0, 255, 255, .5));
  --img-wrapper-color: rgba(158, 124, 83);

  background-image: var(--base-image);
  background-position: center;
  background-size: cover;
}

body {
  color: #000;
  font-size:x-large;
}

.main-container {
  min-height: 100vh;
  min-width: calc(100vw- 100%);
}


.column-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 108px);
  width: 1100px;
  margin: 0 auto;
  background-image: var(--background-column);
}

.hor-divider {
  width: 100%;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,.4), rgba(0, 0, 0, 0));
  margin-bottom: 1%;
}

/* Signin Page */

.signin-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  height: 100vh;
  width: 1100px;
  margin: 0 auto;
  background-color: var(--background-column);
}


.signin-outdent {
  margin-bottom: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: var(--background-outdent);
  border-radius: 10px;
  border: 3px solid gray;
}

.signin-header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.signin-label {
  margin-bottom: 2px;
}

.signin-input {
  text-align: center;
  margin: auto 5% 5%;
}

.signin-button {
  margin: auto 23% 5px;
  padding: 5px;
}

/* Navbar CSS */

.navbar-container {
  background-image: var(--navbar-img);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar-link-item {
    color: black;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    padding: 40px 25px;
    white-space: nowrap;
    border-radius: 13px;
  }


  /* Blogs/Posts Headers  */

  .title-header {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .post-header {
    text-align: center;
    margin-bottom: 2%;
  }

  .blog-header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .blog-time-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .blog-time-wrapper > h5 {
    margin: 5px;
  }

  .input-title {
    font-size: larger;
    text-align: center;
  }

  .edit-title-wrapper, .edit-traveldates-wrapper {
    display: grid;
    grid-template-columns: 200px 350px 200px;
    margin-bottom: 2%;
  }

  .edit-post-header-wrapper {
    font-size: x-large;
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 3fr 2fr 1fr;
    justify-content: center;
    margin-bottom: 2%;
    width: 80%;
  }

  .create-post-header-wrapper {
    font-size: x-large;
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 2%;
    width: 80%;
  }

  .input-post-title {
    font-size: x-large;
    text-align: center;
  }

  .post-title {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .header-button {
    min-width: 100%;
    font-size: x-large;
  }

  /* Blogs/Posts body CSS */

  .body-text {
    padding: 15px 10px;
    margin: 0 30px;
  }

  .body-section {
    flex-direction: column;
    display: flex;
    margin-right: 2.5%;
    border-radius: 10px;
    background-color: var(--body-section-base)
  }

  .post {
    display: grid;
    grid-template-columns: 250px 850px;
    margin: 0px 0px 50px 0px;
    padding: 2% 0 2% 0;
    border-radius: 10px;
    background-color: var(--post-section);
    opacity: 1;
  }

  .blog-banner {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    padding: 10px;
    text-align: center;
    background-color: var(--post-section);
    border-radius: 10px;
    border: solid 2px rgba(0,00,0, 1);
    cursor: pointer;
  }

  .blog-banner > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blogs-wrapper {
    margin-top: 10px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .new-blog-button {
    padding: 30px;
  }

  .img-wrapper {
    align-self: center;
    background-color: var(--img-wrapper-color);
    width: 75%;
    border-radius: 5px;
    margin-top: 2%;
    margin-right: 3%;
    padding: 10px;
    text-align: center;
  }

  .uploaded-image {
    max-width: 100%;
  }

  .edit-image-caption {
    font-size: x-large;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
  }

  .create-section-container {
    margin-top: 2%;
  }

  .section-container {
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .create-post-button {
    margin-top: 2%;
    align-self: center;
    width: 30%;
  }

  .edit-delete-post-wrapper {
    margin-top: 5px;
  }

  .edit-post-button , .delete-post-button {
    padding: 4px;
    border-radius: 5px;
  }

  .edit-post-button:hover , .delete-post-button:hover {
    cursor: pointer;
  }

  .edit-post-button {
    margin-right: 10px;
  }

  .post-section {
    background-color: var(--post-section);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
  }

  .post-text {
    font-size: x-large;
    padding: 10px;
  }

  .delete-section-button {
    margin-top: 10px;
    padding: 10px;
    width: 100px;
  }

  /* My Account Page */

  .acc-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    text-align: center;
    margin-top: 10%;
    background-color: var(--img-wrapper-color);
    padding: 40px;
    border-radius: 10px;
    border: 2px black solid;
  }

  .featured-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .account-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .account-grid > span {
    padding: 5px;
  }

  #delete-img-section {
    margin-left: 130px;
  }

  /* Confirm Popup */

  .popup-container {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: #f37736;
    width: 230px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -75%);
    border-radius: 0.3rem;
    padding: 1rem;
    z-index: 5; /* Higher than the z-index of the background */
  }
  
  .confirmation-text {
    display: flex;
    color: white;
    margin: 0.5rem 0 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
  }
  
  .button-container {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
  }
  
  .confirmation-button, delete-button {
    display: inline-flex;
    background-color: #cc0000;
    color: white;
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
  }
  
  .cancel-button {
    padding: 0.7rem 1rem;
    background-color: #999999;
    border: none;
    font-size: 1rem;
  }
  
  .confirmation-button:hover {
    background-color: red;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #b2b2b2;
    cursor: pointer;
  }

  .popup-bg {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    opacity: 0.8;
    overflow: hidden;
    z-index: 2;
  }