* , *::before , *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
}

#root {
    background-color: rgb(167, 134, 167);
}

.main-container {
    min-height: 100vh;
    min-width: 100%;
}


.content-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

/* Navbar CSS */

.navbar-container {
    background-color: rgb(89, 89, 149);
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-height: fit-content;
    width: 100%;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar-link-item {
    color: white;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    padding: 40px 40px 40px 40px;
    white-space: nowrap;
    border-radius: 13px;
  }


  /* My blogs page CSS */

  .new-blog-button {
    padding: 30px;
  }

  .uploaded-images {
    max-width: 30%;
  }

  .create-section-container {
    margin-top: 2%;
  }

  .section-container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-title {
    margin-top: 1%;
    color: white;
  }

  .post-content {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .post-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }